* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bangers", cursive;
  cursor: grab;

  background-size: cover;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
}

/*main +style large screen */
.container {
  text-shadow: 0px 0px 2px rgb(15, 15, 15);
  text-shadow: 0px 0px 20px rgb(14, 13, 13);
  text-shadow: 0px 0px 25px rgb(12, 12, 12);
  height: 100vh;
  font-size: 2.5em;
  margin: auto 10%;
  padding: 0% 1% 0.5% 1%;
  color: white;
  display: grid;
  gap: 0.5%;
  background-color: #f3e8e8e7;
  grid-template-areas:
    "h h h h  "
    "sb mb mb mb "
    "sb mb mb mb  "
    "sb mb mb mb  ";
}
.mainbox {
  display: grid;
  gap: 1%;
  grid-template-areas:
    "m1 m2 m3"
    "m4 m5 m6";
}
.main1 {
  grid-area: m1;
}
.main2 {
  grid-area: m2;
}
.main3 {
  grid-area: m3;
}
.main4 {
  grid-area: m4;
}
.main5 {
  grid-area: m5;
}
.main6 {
  grid-area: m6;
}
/*box stuff and shake animation*/
.b {
  border-radius: 2%;
}
.b:hover {
  animation: shake 0.18s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  box-shadow: 0 0 15px white;
  background-color: rgba(116, 180, 240, 0.904);

  color: #161d1f;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(4px, 0, 0);
  }
}
.a {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2px white;
  box-shadow: 0 0 4px white;
  background-color: rgba(71, 166, 255, 0.904);
}
.header {
  grid-area: h;
  font-size: 2em;
  font-style: italic;
  text-decoration: underline;

  display: flex;
  justify-content: center;
  align-items: center;
}
.scoreBoard {
  grid-area: sb;
  flex-direction: column;

  justify-content: space-evenly;

  line-height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainbox {
  grid-area: mb;
}

/*style small*/

/*restart*/
.restart {
  color: rgb(183, 238, 101);
}
.restart:hover {
  color: green;
  text-shadow: 5px 5px 10px white;
}

/*modal*/
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */

  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

.modal-content {
  text-shadow: 0px 0px 5px rgba(26, 25, 24, 0.425);
  background-color: rgba(71, 166, 255, 0.904);
  background-size: cover;
  color: #f3e8e8;
  font-weight: lighter;
  background-repeat: no-repeat;
  margin: auto;
  padding: 20px;
  border: 2px solid white;
  box-shadow: 0 0 5px white;
  text-shadow: 0 0 3px rgb(20, 19, 19);
  width: 80%;
  height: 100%;
  font-size: 2.5em;
  text-align: center;
}
.modal-content {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-8-25 8:43:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.mcw {
  background-color: green;
}
.mcl {
  background-color: red;
}
/*button on start modal*/
.close {
  padding: 15px 25px;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgba(95, 236, 118);
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: "Bangers", cursive;
  text-shadow: 0 0 5px rgb(19, 18, 18);
}
.close {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-8-25 8:25:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.close:hover {
  background-color: #3e8e41;
}

.close:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  box-shadow: 0 0 15px rgb(230, 221, 221);
  transform: translateY(4px);
}
/*level change*/
.mb1 {
  grid-template-areas:
    "m6 m2 m3"
    "m4 m5 m1";
}
.mb2 {
  grid-template-areas:
    "m5 m2 m3"
    "m4 m1 m6";
}
.mb3 {
  grid-template-areas:
    "m4 m2 m3"
    "m1 m5 m6";
}
.mb4 {
  grid-template-areas:
    "m2 m1 m3"
    "m4 m5 m6";
}
.mb5 {
  grid-template-areas:
    "m3 m2 m1"
    "m4 m5 m6";
}
.mb6 {
  grid-template-areas:
    "m5 m2 m3"
    "m4 m1 m6";
}
.mb7 {
  grid-template-areas:
    "m6 m2 m3"
    "m4 m5 m1";
}
.mb8 {
  grid-template-areas:
    "m4 m2 m3"
    "m1 m5 m6";
}
.mb9 {
  grid-template-areas:
    "m2 m1 m3"
    "m4 m5 m6";
}
/*winner*/
.modal-win {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content1 {
  background-color: #fefefe;
  position: relative;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 100%;
}
/*lose*/
.modal-lose {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content2 {
  background-color: #fefefe;
  position: relative;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 100%;
}

.header {
  border: 2px;
  border-radius: 0px;
}
.scoreBoard {
  border: 2px;
  border-radius: 0px;
}
